# Source files
src

# github workflows
.github

# Tsup config
tsup.config.ts

# Linter
.eslintignore
.eslintrc.json

# IDE
.idea
.vscode

# Dependency directories
node_modules/
jspm_packages/

# Ts config file
tsconfig.json

# Optional eslint cache
.eslintcache

# optional snyk cache
.dccache